/*------------ Root: START -------------*/
:root{
    --navbar-top:#0C114E;
    --baggrund-venstrenavbar:#8591A4;
    --nav-links-font-size:1.5rem;
}
/*------------ Root: SLUT -------------*/


/*------------ Global: START -------------*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'futura-pt', sans-serif;
}
/*------------ Global: SLUT -------------*/

/*------------ Navbar: START -------------*/
.content{
    max-width: 1250px;
    margin: auto;
    padding: 0px 30px;
}

.navbar{
    position:fixed;
    z-index: 5;
    width: 100%;
    padding: 25px 0;
    background: var(--navbar-top);
    transition: all 0.3s ease;
}

.navbar.sticky{
    padding: 10px 0;
    background: var(--navbar-top);
}

.navbar .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
 
}
/* .navbar .logo a{
    color: white;
    font-size: 2rem;
    font-weight:600px ;
    text-decoration: none;    
} */

.logo img{
    width: 200px;
    height: auto;
}

.navbar .menu-list{
    display: inline-flex; 
}

.menu-list li{
    list-style: none;
}

.menu-list li a{
    color: white;
    font-size: var(--nav-links-font-size);
    font-weight: 400;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.navbar .menu-list li a:hover{
    color: var(--baggrund-venstrenavbar)
}

.about{
    padding: 40px 0;
}

.icon{
    color: white;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.icon.cancel-btn{
    position: absolute;
    right: 30px;
    top: 20px;
}

.shop{
    color: white;
    font-size: 20px;
    margin-left: 10px;
}
/*------------ Navbar: SLUT -------------*/

/*------------ Index: START -------------*/
.banner{
    /* height: 100vh ; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 150px;
}

.index_kniven{
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 10px; 
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.about .title {
    font-size:2.5rem;
    font-weight: 700;
} 

.about p{
    padding-top: 1.8rem;
    letter-spacing: 1px;
     text-align: justify; 
}

/*------------ Index: SLUT -------------*/

/*------------- Info: START ------------*/
.kniven_mand{
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;    
}

.kniven_mand2{
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

/*-------------- Info: SLUT -------------*/

/*---------- Footer: START ------------*/
.footer{
    width: 100%;
    padding: 20px;
    background: var(--navbar-top);
}

.footer p{
    color: white;
    text-align: center;
}
/*---------- Footer: SLUT -------------*/


/*------------ Media Queries: START ----------*/
/*---------- Mobil: Alt UNDER 990px-------------*/
@media(max-width:990px){ 

    .navbar .menu-list li a:hover{
    color: var(--navbar-top);
}

    body.disbaledScroll{
        overflow: hidden;
    }

    .icon{
        display: block;
    }

    .icon.hide{
        display: none;
    }
    .navbar .menu-list{
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        background: var(--baggrund-venstrenavbar);
        display: block;
        padding: 40px 0;
        text-align: center;
        transition: all 0.3s ease;
    }

    .navbar .menu-list.active{
        left: 0%;
    }

    .navbar .menu-list li{
        margin-top: 45px;
    }

    .navbar .menu-list li a{
        font-size: 23px;
    }

    .banner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 150px;
}
/*-------- Index: queries ----------*/
.banner{
    /* height: 100vh ; */ 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 150px;
}

.index_kniven{
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.about .title {
    font-size: 2rem;
    font-weight: 700;
}

.about p{
    padding-top: 1.2rem;
    letter-spacing: 1px;
    /* text-align: justify; */
}

/*-------- Information: queries ----------*/
.kniven_mand{
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;    
}

.kniven_mand2{
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

}


/*------------ Media Queries: SLUT ----------*/