/*------------ Root: START -------------*/
:root{
    --navbar-top:#0C114E;
    --baggrund-venstrenavbar:#8591A4;
    --nav-links-font-size:1.5rem;
}
/*------------ Root: SLUT -------------*/


/*------------ Global: START -------------*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'futura-pt', sans-serif;
}
/*------------ Global: SLUT -------------*/

/*------------ Navbar: START -------------*/
.content{
    max-width: 1250px;
    margin: auto;
    padding: 0px 30px;
}

.navbar{
    position:fixed;
    z-index: 5;
    width: 100%;
    padding: 25px 0;
    background: var(--navbar-top);
    transition: all 0.3s ease;
}

.navbar.sticky{
    padding: 10px 0;
    background: var(--navbar-top);
}

.navbar .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
 
}
/* .navbar .logo a{
    color: white;
    font-size: 2rem;
    font-weight:600px ;
    text-decoration: none;    
} */

.logo img{
    width: 200px;
    height: auto;
}

.navbar .menu-list{
    display: inline-flex; 
}

.menu-list li{
    list-style: none;
}

.menu-list li a{
    color: white;
    font-size: var(--nav-links-font-size);
    font-weight: 400;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.navbar .menu-list li a:hover{
    color: cyan;
}


.banner{
    /* height: 100vh ; */ 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 150px;
}

.about{
    padding: 40px 0;
}

.about .title{
    font-size: 35px;
    font-weight: 700;
}

.about p{
    padding-top: 20px;
    text-align: justify;
}

.icon{
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.icon.cancel-btn{
    position: absolute;
    right: 30px;
    top: 20px;
}
/*------------ Navbar: SLUT -------------*/

/*------------ Media Queries: START ----------*/
@media(max-width:868px){
    body.disbaledScroll{
        overflow: hidden;
    }

    .icon{
        display: block;
    }

    .icon.hide{
        display: none;
    }
    .navbar .menu-list{
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        background: var(--baggrund-venstrenavbar);
        display: block;
        padding: 40px 0;
        text-align: center;
        transition: all 0.3s ease;
    }

    .navbar .menu-list.active{
        left: 0%;
    }

    .navbar .menu-list li{
        margin-top: 45px;
    }

    .navbar .menu-list li a{
        font-size: 23px;
    }
}
/*------------ Media Queries: SLUT ----------*/